* {
    padding: 0;
    margin: 0;
}

#game {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin:auto;
    background-image: url(img/image_processing20200616-23572-14e2ewo.gif);
    background-size: 500px;
    animation: backgrounda 3s linear infinite;
}

#character {
    width: 90px;
    height: 120px;
    background-image: url(img/Nook_pixel.png);
    position: relative;
    top: 200px;

}

.jump {
    animation: jump 0.4s linear;
} 

/*animation*/
@keyframes jump { 
    0% {
        top: 200px;
    }

    30% {
        top: 160px;
    }

    50% {
        top: 100px;
    }

    80% {
        top: 160px;
    }

    100% {
        top: 200px;
    }
}

#block {
    width: 32px;
    height: 40px;
    position: relative;
    top: 142px;
    left: 540px;
    background-image: url(img/bag-of-bells.png);
    background-size: 32px 40px;

    display: none;

    animation: block 1s infinite linear;
}

#block2 {
    width: 32px;
    height: 40px;
    position: relative;
    top: 142px;
    left: 540px;
    background-image: url(img/leaf.png);
    background-size: 32px 40px;

    animation: block2 1s infinite linear;
}

@keyframes block {
    0% {
        left: 540px;
    }

    100% { 
        left: -20px;
    }
} 

@keyframes block2 {
    0% {
        left: 540px;
    }

    100% {
        left: -20px;
    }
} 

@keyframes backgrounda {
    from {
        background-position: 500px;
    }
    to {
        background-position: 0px;
    }
}